<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Demande d'inscription enregistrée</title>
</head>
<body>
    <p>Bonjour {{ utilisateur.first_name }},</p>
    <p>Votre demande d'inscription sur le site Observations Nids a bien été prise en compte.</p>
    <p>Elle va maintenant être examinée par un administrateur. Vous recevrez un nouvel e-mail dès que votre compte sera validé.</p>
    <p>Merci de votre patience.</p>
    <p>L'équipe du site Observations Nids</p>
</body>
</html>