annotated-types
asgiref
beautifulsoup4
build
cachetools
certifi
charset-normalizer
click
colorama
Django
django-stubs
django-stubs-ext
google
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
httplib2
idna
mypy
mypy-extensions
mysqlclient
packaging
pillow
pip-tools
proto-plus
protobuf
pyasn1
pyasn1_modules
pydantic
pydantic_core
pyparsing
pyproject_hooks
requests
rsa
setuptools
soupsieve
sqlparse
tqdm
types-PyYAML
typing_extensions
tzdata
uritemplate
urllib3
wheel
