# requirements-base.in

Django
asgiref
sqlparse
tzdata
mysqlclient
celery
django-celery-results
django-helpdesk
django-crispy-forms
crispy-bootstrap5
redis
amqp
billiard
kombu
vine
eventlet
flower
prometheus_client
tornado
humanize
google-generativeai
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
proto-plus
protobuf
grpcio
grpcio-status
pillow
python-dotenv
pydantic
pydantic-settings
pydantic_core
requests
certifi
charset-normalizer
urllib3
httplib2
idna
geopy
beautifulsoup4
soupsieve
click
click-didyoumean
click-plugins
click-repl
colorama
prompt_toolkit
tqdm
python-dateutil
pytz
six
typing_extensions
annotated-types
pyasn1
pyasn1_modules
rsa
cachetools
Jinja2
MarkupSafe
pyparsing
dnspython
greenlet
packaging
uritemplate
wcwidth
