{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Téléverser une Fiche Image{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Téléverser une nouvelle Fiche Image</div>
                <div class="card-body">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary mt-3">Téléverser</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
