<header class="header">
    <h1>Suivi des nids</h1>
    <p>Ce site permet d'enregistrer le suivi de la nidification de la création du nid à l'envol des poussins.</p>
    {% if user.is_authenticated %}
        <p>Bienvenue, {{ user.username }} !</p>
    {% else %}
        <p>Bienvenue sur notre site !</p>
    {% endif %}
</header>

<nav class="navbar">
    <a href="{% url 'observations:home' %}">Accueil</a>
    <a href="{% url 'admin:index' %}">Admin</a>
    {% if user.is_staff %}
        <a href="{% url 'taxonomy:liste_especes' %}">Gestion des Espèces</a>
    {% endif %}	
    <a href="{% url 'helpdesk:home' %}">Support</a>

    {% if user.is_authenticated %}
        <div class="navbar-right">
            <span>Bienvenue, {{ user.username }}</span>
            <form method="post" action="{% url 'observations:logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Déconnexion</button>
            </form>
        </div>
    {% endif %}
</nav>
