{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Suivi des nids{% endblock %}</title>
    {% block head %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    {% endblock %}
</head>

<body>

    {% include "includes/header.html" %}
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                <div class="message {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <main>
        {% block content %}
        {% endblock %}
    </main>


    {% block extra_js %}
    {% endblock %}

</body>
</html>
