{% extends "base.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
<h1>Bienvenue sur le suivi des observations</h1>
<p>Nombre total d'observateurs : {{ users_count }}</p>
<p>Nombre total d'observations : {{ observations_count }}</p>

<div class="card mb-4">
    <div class="card-header bg-primary text-white">
        <h3>Observations</h3>
    </div>
    <div class="card-body">
        <ul>
            <!-- Remplacer user_list par liste_utilisateurs -->
            <li><a href="{% url 'liste_utilisateurs' %}">Liste des observateurs</a></li>
            <!-- Remplacer user_create par creer_utilisateur -->
            <li><a href="{% url 'creer_utilisateur' %}">Ajouter un observateur</a></li>
            <li><a href="{% url 'saisie_observation' %}">Nouvelle observation</a></li>
            <li><a href="{% url 'saisie_test_new' %}">Nouvelle observation V2</a></li>
        </ul>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header bg-success text-white">
        <h3>Transcription & Importation</h3>
    </div>
    <div class="card-body">
        <ul>
            <li><a href="{% url 'select_directory' %}">Transcription d'images</a></li>
            <li><a href="{% url 'accueil_importation' %}">Importation des transcriptions</a></li>
        </ul>
    </div>
</div>

{% if user.role == 'administrateur' %}
<div class="card mb-4">
    <div class="card-header bg-warning text-white">
        <h3>Administration</h3>
    </div>
    <div class="card-body">
        <ul>
            <li><a href="{% url 'liste_utilisateurs' %}">Gestion des utilisateurs</a></li>
            <li><a href="{% url 'creer_utilisateur' %}">Créer un nouvel utilisateur</a></li>
        </ul>
    </div>
</div>
{% endif %}

{% if user.is_superuser and user.role != 'administrateur' %}
<div class="card">
    <div class="card-header bg-danger text-white">
        <h3>Accès d'urgence</h3>
    </div>
    <div class="card-body">
        <p><strong>Vous êtes un superutilisateur mais pas un administrateur dans le système de rôles.</strong></p>
        <p>Pour accéder aux fonctionnalités d'administration, vous devez d'abord vous promouvoir :</p>
        <a href="{% url 'promouvoir_administrateur' %}" class="btn btn-danger">Promouvoir en administrateur</a>
    </div>
</div>
{% endif %}
{% endblock %}