{% extends "base.html" %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
    <h1>Bienvenue sur le suivi des observations</h1>
    <p>Nombre total d'observateurs : {{ users_count }}</p>
    <p>Nombre total d'observations : {{ observations_count }}</p>
    <ul>
        <li><a href="{% url 'user_list' %}">Liste des observateurs</a></li>
        <li><a href="{% url 'user_create' %}">Ajouter un observateur</a></li>
        <li><a href="{% url 'saisie_observation' %}">Nouvelle observation</a></li>
        <li><a href="{% url 'saisie_test_new' %}">Nouvelle observation V2</a></li>
    </ul>
{% endblock %}
