{% extends "base.html" %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block content %}
<body>
    <h1>Utilisateurs</h1>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <button onclick="loadUserDetail({{ user.id }})">Voir détails</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'user_create' %}"><button>Ajouter un utilisateur</button></a>

    <h2>Détails de l'utilisateur sélectionné</h2>
    <div id="user-detail">
        <p>Sélectionnez un utilisateur pour voir ses détails.</p>
    </div>
{% endblock %}


{% block extra_js %}
     <script>
        function loadUserDetail(userId) {
            fetch(`/users/${userId}/`)
            .then(response => response.text())
            .then(html => {
                document.getElementById("user-detail").innerHTML = html;
            });
        }
    </script>
{% endblock %}